.idea

*.ts
!*.d.ts

/node_modules/
/.gitignore
/.npmignore
/.travis.yml
/license-banner.txt

/test
/karma.conf.js
/karma-test-shim.js

/rollup.config.js
/rollup-min.config.js

/systemjs.config.js

/tsconfig.json
/tsconfig-build.json