.idea

*.ts
*.js.map

/typings.json
/typings/
/node_modules/
/.gitignore

/karma.conf.js
/karma-test-shim.js

/rollup.config.js
/rollup-min.config.js

/systemjs.config.js

/tsconfig.json
/tsconfig-build.json